body {
    width: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


.header {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-bottom: 120px;
}

.heder-donate-button {
    margin-right: 370px;
    margin-top: -170px;
}

.heder-h1 {
    width: 700px;
    height: 200px;
    text-align: center;
    font-size: 60px;
    margin-left: 290px;
    margin-top: 0px;
    padding-top: 50px;
    padding-left: -10px;
}

.header-p {
    width: 500px;
    height: 250px;
    margin: auto;
    font-size: 20px;
    padding-left: -30px;
    margin-top: -100px;
}

.container-one {
    width: 500px;
    height: 200px;
    margin: auto;
    text-align: center;
}

.Donate-Today {
    font-size: 40px;
}

.Donate-Today-p {
    font-size: 20px;
    margin-top: -10px;
}

.container-two {
    width: 150px;
    height: 100px;
    margin: auto;

}

.Main-TK {
    display: flex;
    margin-left: 180px;
    margin-right: 180px;

}

.Tk {
    padding-top: 5px;
    margin-left: 32px;
    font-size: xx-large;

}

.container-two-with-border {
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 100px;
    margin: auto;
    border: 3px solid orange;
    ;
    border-radius: 5px;
}

.tk {
    color: orange;
}

.food-for {
    display: flex;
    gap: 15px;
    margin-left: 150px;
}

.food-for-family {
    width: 280px;
    height: 250px;
    background-color: rgba(70, 54, 196, 0.393);
    padding-left: 20px;
    padding-top: 70px;
    border-radius: 10px;
}

.Shelter-for-a-family {
    width: 280px;
    height: 250px;
    background-color: rgba(24, 1, 134, 0.393);
    padding-left: 20px;
    padding-top: 70px;
    border-radius: 10px;
}

.Education-for-a-child {
    width: 280px;
    height: 250px;
    background-color: rgba(91, 17, 218, 0.393);
    padding-left: 20px;
    padding-top: 70px;
    border-radius: 10px;
}

.footer {
    background-color: black;
    width: 100%;
    height: 80%;
}

.footer-div {
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.donate-now-button {
    text-decoration: none;
    padding: 10px 40px;
    color: rgb(255, 255, 255);
    font-weight: 500px;
    font-size: xx-large;
    background-color: blue;
    border-radius: 5px;
}

.input-item {
    margin: auto;
    margin-left: 40%;
    margin-top: 50px;
}

.subcribe {
    display: flex;
    background-color: blue;
    margin-bottom: 10px;
    width: 800px;
    height: 250px;
    margin-left: 20%;
}

.email {
    width: 300px;
    height: 50px;
}

.subcrive {
    width: 150px;
    height: 50px;
    background-color: aliceblue;
    padding-left: 50px;
    padding-top: 20px;
    margin-top: -8px;
}

.input-div {
    display: flex;
    margin-left: 150px;
    margin-top: 100px;
}